.layout {
  min-height: 100vh;
  background: #fff;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; // ensures the fixed navbar stays positioned correctly

  @media screen and (max-width: 650px) {
    padding: 0 1rem;
  }
}

/* Navbar (Header) */
.navbar {
  display: flex;
  position: fixed;
  top: -1px;
  left: 50%;
  transform: translateX(-50%); // centers it inside the page width
  width: 100%;
  max-width: 1200px; // match .inner
  padding: 0 2rem;
  background: white; // or your background color
  z-index: 100;
  border-bottom: 2px solid var(--tuf-fakeblack-hex);

  @media screen and (max-width: 650px) {
    padding: 0 1rem;
  }
}

/* Main content */
.mainContainer {
  flex: 1;
  margin-top: 64px; // space for fixed header
  width: 100%;
  max-width: 100%;
  padding: 2rem 0;

  p {
    margin-bottom: 10px;
    white-space: pre-wrap;
  }
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 1rem 0;
  text-align: center;

  background-color: white;
}

.links {
  display: flex;
  align-items: center;
  gap: 6px;
}
