.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  & > div {
    height: 100%;
  }
}

.cardImg {
  aspect-ratio: 1.25;
  object-fit: cover;
  border-radius: 0.5rem !important;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;

  & > :last-child {
    bottom: 0 !important;
  }
}

.card {
  // antd overrides to make it responsive

  :global(.ant-card-body) > * {
    font-size: 16px;
  }

  :global(.ant-card-actions) {
    background-color: transparent;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    border: none;
    margin-bottom: 8px;
    margin-top: auto;
    width: 100%;
  }

  :global(.ant-card-actions > li) {
    margin: 0;
    border: none;
  }

  :global(.ant-card-meta-detail > div:not(:last-child)) {
    margin-bottom: 0px;
  }
}

.teamCardRole {
  font-weight: 600;
}

.teamCardAction {
  background-color: var(--tuf-lightblue);
  border-radius: 4px;
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.teamCardMemberStatus {
  background-color: var(--tuf-lightblue);
  padding: 4px;
  margin-left: 8px;
  border-radius: 4px;
}

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background-color: var(--tuf-lightblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  /* 
  height: fit-content;
  justify-content: center; */
}

.teamCardTitle {
  font-weight: 600;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 4px;
}
